* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #203239;
    color: #141e27;
    font-family: "monserrat", sans-serif;
    overflow-x: hidden;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 20px;
}
.swim-lane-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swim-lanes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    border-style: none;
    background: #fff;
    box-shadow: rgba(3, 8, 20, 0.3) 0px 0.15rem 0.5rem,
        rgba(2, 8, 20, 0.3) 0px 0.075rem 0.175rem;
    display: inline;
}

button:hover {
    background: #eee;
}

button:active {
    background: #ddd;
}
