body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 20px;
}
.swim-lane-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swim-lanes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
