* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #203239;
    --swim-lane-color: #e0ddaa;
    --task-color: #eeedde;
    --text-color: #141e27;
    --button-hover: #eee;
    --button-active: #ddd;
    --white: #ffffff;
    --shadow: rgba(3, 8, 20, 0.2) 0px 0.15rem 0.5rem;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: "monserrat", sans-serif;
    overflow-x: hidden;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 20px;
}
.swim-lane-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swim-lanes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    border-style: none;
    background: var(--white);
    box-shadow: var(--shadow);
    display: inline;
}

button:hover {
    background: var(--button-hover);
}

button:active {
    background: var(--button-active);
}

.add-swim-lane-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1.2rem;
}
