.swim-lane-container {
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    height: 500px;
    background: #1aa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swim-lane-title {
    display: flex;
    justify-content: center;
}

.swim-lane-title-input {
    margin: 0 0px;
}

.swim-lane-title-display {
    margin: 0 0px;
}

.swim-lane-title-ok {
    margin: 0 0px;
}

.tasks {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.add-task-btn {
    margin: 20px;
}
