.task-item {
    padding: 10px 0;
    margin: 5px 10px;
    width: 90%;
    height: 100%;
    background: #eeedde;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: rgba(3, 8, 20, 0.3) 0px 0.15rem 0.5rem;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    border-style: none;
    background: #fff;
    box-shadow: rgba(3, 8, 20, 0.2) 0px 0.15rem 0.5rem;
    display: inline;
    /* transition: all 200ms; */
}

button:hover {
    background: #eee;
}

button:active {
    background: #ddd;
}

.task-details {
    border-style: none;
    border-radius: 5px;
    height: 70px;
    margin: 10px 10px;
}
