.task-item {
    padding: 10px 0;
    margin: 5px 10px;
    width: 90%;
    height: 100%;
    background: var(--task-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    border-style: none;
    background: var(--white);
    box-shadow: var(--shadow);
    display: inline;
    /* transition: all 200ms; */
}

button:hover {
    background: var(--button-hover);
}

button:active {
    background: var(--button-active);
}

.task-details {
    border-style: none;
    border-radius: 5px;
    height: 70px;
    margin: 10px 10px;
}

.task-title {
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.title-input {
    border-style: none;
    border-radius: 3px;
    margin-right: 5px;
    text-align: center;
    width: 100%;
    box-shadow: var(--shadow);
}

.title-display {
    font-weight: 600;
}

.title-ok {
    padding: 5px 10px;
    font-weight: 600;
    border-style: none;
    background: var(--white);
    box-shadow: var(--shadow);
}
