.task-item {
    margin: 5px 10px;
    width: 90%;
    height: 100%;
    background: var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    border-style: none;
    background: var(--white);
    box-shadow: var(--shadow);
    display: inline;
    /* transition: all 200ms; */
}

button:hover {
    background: var(--button-hover);
}

button:active {
    background: var(--button-active);
}

.delete-btn {
    width: 12px;
    height: 12px;
    padding: 5px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 3px;
    text-align: center;
    color: var(--text-color);
    background: var(--primary-color);
    font-weight: bold;
    /* box-shadow: var(--shadow); */
    font-size: 0.7rem;
    font-weight: 700;
}

.delete-btn:hover {
    background: var(--primary-color);
}

.delete-btn:active {
    background: var(--button-active);
}

.task-details {
    border-style: none;
    border-radius: 5px;
    height: 70px;
    margin: 10px 10px;
    user-select: text;
}

.task-title {
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    display: flex;
    width: 100%;
    background: var(--accent-color);
    color: var(--primary-color);
}

.title-input {
    border-style: none;
    border-radius: 3px;
    margin-left: 10px;
    width: 70%;
    height: 20px;
    box-shadow: var(--shadow);
    user-select: text;
}

.title-display {
    margin-left: 10px;
    font-weight: 600;
}
